<!DOCTYPE html>
<html>
<head>
    <title>{{Budgetor}}</title>
    <!-- Include your CSS and JavaScript here -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.8/dist/handlebars.min.js"></script>
</head>
<body>

{{{body}}}

<!-- Include global scripts here -->

</body>
</html>
